<nav id="navbar"
class="fixed top-0 left-0 w-full z-50
bg-transparent
transition-all duration-500">


<div class="max-w-7xl mx-auto px-6 py-5 
flex justify-between items-center">


<!-- LOGO -->

<a href="index.html"
class="text-2xl font-bold text-white">

Tours Mirissa

</a>




<!-- DESKTOP MENU -->

<div class="hidden lg:flex items-center gap-8 text-white">


<a href="index.html"
class="hover:text-yellow-400">
Home
</a>


<a href="whale-watching.html"
class="hover:text-yellow-400">
Whale Watching
</a>





<!-- SAFARI -->

<div class="relative group">


<button class="flex gap-2 hover:text-yellow-400">

Safari Tours
⌄

</button>



<div class="absolute top-full pt-3 hidden group-hover:block">


<div class="bg-white text-gray-800 rounded-xl shadow-xl w-52">


<a href="yala-safari.html"
class="block px-5 py-3 hover:bg-gray-100">

Yala Safari

</a>


<a href="udawalawe-safari.html"
class="block px-5 py-3 hover:bg-gray-100">

Udawalawe Safari

</a>


</div>


</div>


</div>







<!-- SERVICE -->


<div class="relative group">


<button class="flex gap-2 hover:text-yellow-400">

Service & Activities
⌄

</button>



<div class="absolute top-full pt-3 hidden group-hover:block">


<div class="bg-white text-gray-800 rounded-xl shadow-xl w-60">


<a href="surf-lessons.html"
class="block px-5 py-3 hover:bg-gray-100">

Surf Lessons

</a>


<a href="hotel-booking.html"
class="block px-5 py-3 hover:bg-gray-100">

Hotel Booking

</a>


<a href="airport-transfer.html"
class="block px-5 py-3 hover:bg-gray-100">

Airport Pick UP & Transfer

</a>


<a href="diving.html"
class="block px-5 py-3 hover:bg-gray-100">

Diving

</a>

<a href="bike-rental.html"
class="block px-5 py-3 hover:bg-gray-100">

bike rental

</a>


</div>


</div>


</div>





<a href="sri-lanka.html"
class="hover:text-yellow-400">

Sri Lanka

</a>


<a href="contact.html"
class="hover:text-yellow-400">

Contact

</a>



</div>






<!-- BOOK BUTTON -->

<a href="contact.html"

class="
hidden lg:block
bg-yellow-400
text-black
px-6 py-2
rounded-full">

Book Now

</a>






<!-- MOBILE BUTTON -->


<button id="menuBtn"

class="lg:hidden text-white text-3xl">


☰


</button>



</div>






<!-- MOBILE MENU -->


<div id="mobileMenu"

class="
hidden
lg:hidden
bg-black/90
backdrop-blur-xl
absolute
top-full
left-0
w-full
px-6
py-6
text-white">


<a href="index.html"
class="block py-3">

Home

</a>



<a href="whale-watching.html"
class="block py-3">

Whale Watching

</a>





<!-- MOBILE SAFARI -->

<button
onclick="toggleSafari()"

class="w-full flex justify-between py-3">


Safari Tours

<span>
⌄
</span>


</button>



<div id="safariDrop"
class="hidden pl-5">


<a href="yala-safari.html"
class="block py-2 text-gray-300">

Yala Safari

</a>


<a href="udawalawe-safari.html"
class="block py-2 text-gray-300">

Udawalawe Safari

</a>


</div>






<!-- MOBILE SERVICE -->


<button
onclick="toggleService()"

class="w-full flex justify-between py-3">


Service & Activities

<span>
⌄
</span>


</button>



<div id="serviceDrop"
class="hidden pl-5">


<a href="surf-lessons.html"
class="block py-2 text-gray-300">

Surf Lessons

</a>


<a href="hotel-booking.html"
class="block py-2 text-gray-300">

Hotel Booking

</a>


<a href="airport-transfer.html"
class="block py-2 text-gray-300">

Airport Pick UP & Transfer

</a>


<a href="diving.html"
class="block py-2 text-gray-300">

Diving

</a>


<a href="bike-rental.html"
class="block py-2 text-gray-300">

Bike Rental

</a>




</div>

<div>

<a href="sri-lanka.html"
class="block py-2 text-gray-300">

Sri Lanka

</a>
</div>





<a href="contact.html"

class="
block
mt-5
bg-yellow-400
text-black
text-center
py-3
rounded-full">

Book Now

</a>



</div>


</nav>
